// /* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  color: #666666;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

.background {
  background-image: url(https://cdn.pixabay.com/photo/2022/06/21/21/15/audio-7276511__340.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.blur {
  background: rgba(
    255,
    255,
    255,
    0.2
  ); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
  height: 100vh;
  width: 100%;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 70px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
