.card {
  background-color: #704d7894;
  color: white;
}

.button-send {
  color: white !important;
  border: 1px solid white;
}

.button-send:hover {
  background-color: #414d72;
  border: 1px solid rgba(203, 193, 193, 0.757);
}

a {
  color: #1f2634;
  text-decoration: none;
}

a:hover {
  color: white;
}
